.menu-left{
    position: relative;
    min-height: 100%;
    width: 100%;
    border-right: 1px solid var(--color-border-shadow);
    padding: 2rem 0;
    overflow: hidden;
}

.menu-left #logo-small{
    display: none;
}

.page.active .menu-left{
    padding: 2rem 0rem;
}

.page.active .menu-left li p{
    display: none;
}

.page.active .menu-left li div{
    justify-content: center;
}

.page.active .menu-left li{
    padding: 0.7rem 0.5rem;

}

.page.active .menu-left #logo-big{
    display: none;
}

.page.active .menu-left #logo-small{
    display: flex;
}

.page.active .menu-left .arrow{
    transform: rotate(180deg);
}

.menu-left nav{
    height: 100%;
}

.menu-left ul:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 95%;
}

.menu-left li{
    list-style: none;
    padding: 0.7rem 2rem;
    margin: 1rem 0;
    
}

[class*="option-"]:hover{
    color: var(--color-primary);
    font-weight: 600;
}

.almacen-menu{
    height: 0px;
    transform: translateX(-13rem);
    transition: all 0.3s ease;

}

.almacen-menu.active{
    transform: translateX(0rem);
    height: 8rem;
}

.almacen-menu li{
    padding: 0.7rem 0rem;

    margin: 0rem 0;
}


a{
    text-decoration: none;
    color: var(--color-dark);
}

.menu-left .logo{
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.menu-left .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

li div{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

li div img{
    width: 2rem;
    height: auto;
}

.arrow{
    position: absolute;
    top: 0.5rem;
    right: 0;

    width: 2.2rem;
    cursor: pointer;
}