  
  .btn-content {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
  }
  
  .container {
    position: relative;
    padding: 0 2rem;
    margin-top: 1rem !important;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .container-page {
    overflow: hidden;
    position: relative;
  }
