.page {
    position: relative;
    display: grid;
    grid-template-columns: 15rem 1fr;
    min-height: 100%;
  }
  
  .btn-content {
    display: flex;
    justify-content: flex-end;
  }
  
  .container {
    position: relative;
    padding: 0 2rem;
    margin-top: 1rem !important;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .container-page {
    overflow: hidden;
    position: relative;
  }
  