 
  .btn-content {
    display: flex;
    justify-content: flex-end;
  }
  
  .container {
    position: relative;
    padding: 0 2rem;
    margin-top: 1rem !important;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .container-page {
    overflow: hidden;
    position: relative;
  }
  

  .extra-info{
    margin-bottom: 0.8rem;
    margin-top: 0.2rem; 
  }

  .match{
    color: var(--color-primary);
    font-size: calc(var(--text-size-small) - 0.05rem);
    cursor: pointer;
  }