.btn-content{
    display: flex;
    justify-content: flex-end;
}

.container{
    position: relative;
    padding: 0 2rem;
    margin-top: 1rem !important;
}

.table-container{
    overflow-x: auto;
}

.container-page{
    overflow:hidden;
    position: relative;
}




.last{
    border-bottom: 1px solid var(--color-border-shadow);
}